
<style>
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 80%;
  background-color: rgba(0, 0, 0, 0.917);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ab6509;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>


<div class="sidenav">
    <a href="/admin/home">HOME</a>
  <a href="#about">About</a>
  <a href="/admin/routes">Routes</a>
  <a href="/admin/cab">CAB Deatails</a>
  <a href="/admin/user">USER Details</a>
  <a href="/admin/booking">BOOKING Details</a>
  <a href="/logout">Logout</a>
  {{!-- <button class="dropdown-btn">Dropdown 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div> --}}
 
</div>

<div class="main">
 <img src="https://thumbs.dreamstime.com/b/woman-man-great-dashboard-website-admin-visualization-chart-statistic-data-diagram-isometric-d-modern-flat-style-vector-187268738.jpg" style="width:100%; background-size:cover; margin-left: -210px;">
</div>
<div style="position: absolute;top:30%;right:70%;font-family:Gabriola;color:rgba(255, 162, 0, 0.785);">
    <h1>Website Administrator</h1>
</div>

