<li class="btn" style="position:absolute ;right:80%;background-color:rgb(8, 127, 163)">
                    <a class="nav-link" href="/cab/add">Register your cab as a driver</a>
                </li>
<img src="https://static.vecteezy.com/system/resources/previews/010/591/056/non_2x/taxi-ordering-and-tracking-service-concept-yellow-cab-stands-on-city-map-background-with-car-route-taxicab-online-order-get-transport-web-application-advertising-banner-concept-illustration-vector.jpg" style="width: 100%;">

<div style="position: absolute;top:18%;right:30%;font-family:Franklin Gothic Medium;color:rgb(20, 3, 3);">
    <h1 style="font-size: 60px;">QuickCab</h1>
    
</div>
