<div class="container">
    <h1 class="text-center">Routes</h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="start">Start</label>
                    <input type="text" name="start" id="start" class="form-control">
                </div>
                <div>
                    <label for="end">Stop</label>
                    <input type="text" name="end" id="end" class="form-control">
                </div>
                <div>
                    <label for="rate">Price</label>
                    <input type="number" name="rate" id="rate" class="form-control">
                </div>
                <div class="d-grid mt-4">
                    <button class="btn btn-secondary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>