<div style="position:absolute;right:32%">
    <img src="https://uploads-ssl.webflow.com/5ef0df6b9272f7410180a013/60c0e28575cd7c21701806fd_q1cunpuhbdreMPFRSFLyfUXNzpqv_I5fz_plwv6gV3sMNXwUSPrq88pC2iJijEV7wERnKXtdTA0eE4HvdnntGo9AHAWn-IcMPKV-rZw1v75vlTEoLF4OdNqsRb7C6r7Mvzrm7fe4.png">
</div>
<br><br>
<div style="position:absolute;bottom:20%;right:50%">
    <td>
            <a href="/cab/payment/successpdf/{{data.dataValues.id}}" class="btn"
                style="background-color: rgba(20, 76, 217, 0.424);">Download</a>
        </td>
</div>